.array-filter-chip-list {
    width: 89%;
}

.array-filter-operator-select {
    width: 10%;
}

::ng-deep .array-filter-operator-select .mat-form-field-wrapper {
    padding-bottom: 29px!important;
}

