<div class="mat-elevation-z2 dae-container">
  <dae-dynamic-table #dataTable
    id="dataTable"
    [title]="'Personnes'"
    [columns$]="columns$"
    [dataSource$]="people$"
    [lists]="lists$ | async"
    [selectionEnabled]="true"
    [modifyEnabled]="true"
    [deleteEnabled]="true"
    [paginate]="false"
    (addElement)="onAdd($event)"
    (modifyElement)="onModify($event)"
    (deleteElement)="onDelete($event)">
      <button #actionMenuButton matRipple mat-button [matMenuTriggerFor]="selectionActionsMenu" 
        [disabled]="dataTable.selection.selected.length == 0">Actions sélection</button>
      <mat-menu #selectionActionsMenu="matMenu">
        <button mat-menu-item (click)="onAction1Clicked($event)">Action 1</button>
        <button mat-menu-item (click)="onAction2Clicked($event)">Action 2</button>
      </mat-menu>
  </dae-dynamic-table>
  <br>
  <button (click)="addDataToTable()">Add data to table</button>
</div>
