@import '~@angular/material/theming';
@include mat-core();

// Daesign palette
$mat-daesign-primary: (
    50 : #f9e5e6,
    100 : #f0bfc1,
    200 : #e69497,
    300 : #dc696d,
    400 : #d5494e,
    500 : #cd292f,
    600 : #c8242a,
    700 : #c11f23,
    800 : #ba191d,
    900 : #ae0f12,
    A100 : #ffdddd,
    A200 : #ffaaab,
    A400 : #ff7779,
    A700 : #ff5d60,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dae-app-primary: mat-palette($mat-daesign-primary);
$dae-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$dae-app-theme: mat-light-theme($dae-app-primary, $dae-app-accent);
@include angular-material-theme($dae-app-theme);