.header(fxLayout="row" fxLayoutAlign="start center")
    .title.padding(i18n="", translate) {{ title }}
    ng-container(*ngIf="displayActionButton")
        mat-divider([vertical]="true")
        button.padding(mat-button, (click)="triggerActionCallback()")
            i.material-icons {{ actionButtonIcon }}
    ng-container(*ngIf="displaySearchField")
        mat-divider([vertical]="true")
        .padding(fxLayout="row" fxLayoutAlign="start center")
            i.material-icons.right search
            mat-form-field
                input(matInput, i18n="", translate, [(ngModel)]="searchModel", (keyup)="triggerSearchCallback()", [placeholder]="searchInputPlaceholder | translate")
    ng-container(*ngIf="ngContentRef.children.length !== 0")
        mat-divider([vertical]="true")
    div(#ngContentRef)
        ng-content